
/* Global settings */
$color-border: #eee;
$color-label: #aaa;
$font-default: 'Montserrat', sans-serif;
$font-bold: 'HelveticaNeue-Medium', 'Helvetica Neue Medium';


/* Global "table" column settings */
.product-image { float: left; width: 20%; }
.product-details { float: left; width: 37%; }
.product-price { float: left; width: 12%; }
.product-quantity { float: left; width: 10%; }
.product-removal { float: left; width: 9%; }
.product-line-price { float: left; width: 12%; text-align: right; }


/* This is used as the traditional .clearfix class */
.group:before,
.group:after {
    content: '';
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1;
}


/* Apply clearfix in a few places */
.shopping-cart, .column-labels, .product, .totals-item {
  @extend .group;
}


/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}


/* Body/Header stuff */
body {
  padding: 0px 30px 30px 20px;
  font-family: $font-default;
  font-weight: 100;
}

h1 {
  font-weight: 100;
}

label {
  color: $color-label;
}

.shopping-cart {
  margin-top: -45px;
}


/* Column headers */
.column-labels {
  label {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $color-border;
  }
  
  .product-image, .product-details, .product-removal {
    text-indent: -9999px;
  }
}


/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $color-border;
  
  .product-image {
    text-align: center;
    img {
      width: 100px;
    }
  }
  
  .product-details {
    .product-title {
      margin-right: 20px;
      font-family: $font-bold;
    }
    .product-description {
      margin: 5px 20px 5px 0;
      line-height: 1.4em;
    }
  }
  
  .product-quantity {
    input {
      width: 40px;
      
    }
  }
  
  .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: #c66;
    color: #fff;
    font-family: $font-bold;
    font-size: 12px;
    border-radius: 3px;
  }
  
  .remove-product:hover {
    background-color: #a44;
  }
}


/* Totals section */
.totals {
  .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
    
    label {
      float: left;
      clear: both;
      width: 79%;
      text-align: right;
    }
    
    .totals-value {
      float: right;
      width: 21%;
      text-align: right;
    }
  }
  
  .totals-item-total {
    font-family: $font-bold;
  }
}

.btn {
  margin: 0 20px;
  padding: 15px 34px;
  overflow: hidden;
  font-family: 'Montserrat Alternates', sans-serif;
  color: white;
  letter-spacing: 1px;    
  text-transform: uppercase;
  font-weight: 600;
  border-width: 0;    
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  outline: none;
  cursor: pointer; 
  margin-top: 15px;
  width: 400px;
  height: 67px;
  border-radius: 45px;
  float: right;
}

.btn2 {
  background: linear-gradient(90deg, #c600b2, #7619fd);
}

.btn:before, 
.btn:after {    
    content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
    height: 100%;
    left: -110%;
    top: 0;
	opacity: 0.1;
	background: black;    
    transform: skewX(25deg);    
	transition: .5s ease;
}
.btn:hover:before {
    left: -10%;
    transition: .3s ease;
}
.btn:hover:after {
    left: -20%;
}


/* Make adjustments for tablet */
@media screen and (max-width: 650px) {
  
  .shopping-cart {
    margin: 0;
    padding-top: 20px;
    border-top: 1px solid $color-border;
  }
  
  .column-labels {
    display: none;
  }
  
  .product-image {
    float: right;
    width: auto;
    img {
      margin: 0 0 10px 10px;
    }
  }
  
  .product-details {
    float: none;
    margin-bottom: 10px;
    width: auto;
  }
  
  .product-price {
    clear: both;
    width: 70px;
  }
  
  .product-quantity {
    width: 100px;
    input {
      margin-left: 20px;
    }
  }
  
  .product-quantity:before {
    content: 'x';
  }
  
  .product-removal {
    width: auto;
  }
  
  .product-line-price {
    float: right;
    width: 70px;
  }
  
}


/* Make more adjustments for phone */
@media screen and (max-width: 350px) {
  
  .product-removal {
    float: right;
  }
  
  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }
  
  .product .product-line-price:before {
    content: 'Item Total: $';
  }
  
  .totals {
    .totals-item {
      label {
        width: 60%;
      }
      
      .totals-value {
        width: 40%;
      }
    }
  }
}



/* Container */
.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}

/* Header */
.header {
  width: 100%;
  padding-top: 30px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header.fixed {
  padding: 10px 0;
  background-color: #de3a3a;
  box-shadow: 0 3px 10px #ffffff33;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translate3d(0, 0, 0);
}

.header.active {
  background-color: #de3a3a;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 30px;
  font-weight: 700;
  color: #ffffff;
}

.header__logo a {
  text-decoration: none;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  color: #ffffff;
}

/* Nav */
.nav {
  font-size: 14px;
  text-transform: uppercase;
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px;
  position: relative;
  color: #ffffff;
  text-decoration: none;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  transition: color .1s linear;
}

.nav__link:after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;

  background-color: #aa0000;
  opacity: 0;

  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;

  transition: opacity .1s linear;
}

.nav__link:hover {
  color: #aa0000;
}

.nav__link:hover:after,
.nav__link.active:after {
  opacity: 1;
}

.nav__link.active {
  color: #aa0000;
}

/* Preloder */

#preloder {
position: fixed;
width: 100%;
height: 100%;
top: 0;
left: 0;
z-index: 999999;
background: #000000d8;
}

.loader {
width: 40px;
height: 40px;
position: absolute;
top: 50%;
left: 50%;
margin-top: -13px;
margin-left: -13px;
border-radius: 60px;
animation: loader 0.5s linear infinite;
-webkit-animation: loader 0.5s linear infinite;
}

@keyframes loader {
0% {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  border: 4px solid #c60000;
  border-left-color: transparent;
}
50% {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border: 4px solid #191dfd;
  border-left-color: transparent;
}
100% {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  border: 4px solid #f44336;
  border-left-color: transparent;
}
}

@-webkit-keyframes loader {
0% {
  -webkit-transform: rotate(0deg);
  border: 4px solid #c60000;
  border-left-color: transparent;
}
50% {
  -webkit-transform: rotate(180deg);
  border: 4px solid #191dfd;
  border-left-color: transparent;
}
100% {
  -webkit-transform: rotate(360deg);
  border: 4px solid #f44336;
  border-left-color: transparent;
}
}
.elements-section {
	padding-top: 100px;
}

.el-title {
	margin-bottom: 75px;
}

.element {
	margin-bottom: 100px;
}

.element:last-child {
	margin-bottom: 0;
}

.landcontainer img {
    width: 100%;
    height: 100%;
    position: relative;
}

/* Section */
.section {
    padding: 80px 0;
}
.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;
    margin-top: 40px;
    text-align: center;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #de3a3a;
}

.section__text {
    font-size: 15px;
    color: #999;
}
