@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
body,html {
  height:100%;
  margin:0;
  font-family:lato;
}

h2 {
  margin-bottom:0px;
  margin-top:25px;
  text-align:center;
  font-weight:200;
  font-size:19px;
  font-size:1.2rem;
  
}
.container {
  height:100%;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
  -webkit-align-items:center;
      -ms-flex-align:center;
          align-items:center;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  background:-webkit-linear-gradient(#c5e5e5, #ccddf9);
  background:linear-gradient(#aaaaaa,#ffffff);
}
.dropdown-select.visible {
  display:block;
}
.dropdown {
  position:relative;
}
ul {
  margin:0;
  padding:0;
}
ul li {
  list-style:none;
  padding-left:10px;
  cursor:pointer;
}
ul li:hover {
  background:#ffffff1a;
}
.dropdown-select {
  position:absolute;
  background:#88cf67;
  text-align:left;
  box-shadow:0px 3px 5px 0px #0000001a;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  width:90%;
  left:2px;
  line-height:2em;
  margin-top:2px;
  box-sizing:border-box;
}
.thin {
  font-weight:400;
}
.small {
  font-size:12px;
  font-size:.8rem;
}
.half-input-table {
  border-collapse:collapse;
  width:100%;
}
.half-input-table td:first-of-type {
  border-right:10px solid #6bb14b;
  width:50%;
}
.window {
  height:540px;
  width:800px;
  background:#fff;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  box-shadow: 0px 15px 50px 10px #00000033;
  border-radius:30px;
  z-index:10;
}
.order-info {
  height:100%;
  width:50%;
  padding-left:25px;
  padding-right:25px;
  box-sizing:border-box;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  position:relative;
}
.price {
  bottom:0px;
  position:absolute;
  right:0px;
  color:#4488dd;
}
.order-table td:first-of-type {
  width:20%;
}
.order-table {
    position:relative;
}
.line {
  height:1px;
  width:100%;
  margin-top:10px;
  margin-bottom:10px;
  background:#ddd;
}
.order-table td:last-of-type {
  vertical-align:top;
  padding-left:25px;
}
.order-info-content {
  table-layout:fixed;

}

.full-width {
  width:100%;
}
.btn {
    margin: 0 20px;
    padding: 15px 34px;
    overflow: hidden;
    font-family: 'Montserrat Alternates', sans-serif;
    color: white;
    letter-spacing: 1px;    
    text-transform: uppercase;
    margin-left: 10px;
    font-weight: 600;
    border-width: 0;    
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    outline: none;
    cursor: pointer; 
    margin-top: 15px;
    width: 330px;
    height: 60px;
    border-radius: 45px;
    position: absolute;
    bottom: 35px;
  }
  
  .btn1 {
    background: linear-gradient(90deg, #c600b2, #7619fd);
  }
  
  .btn:before, 
  .btn:after {    
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      left: -110%;
      top: 0;
      opacity: 0.1;
      background: black;    
      transform: skewX(25deg);    
      transition: .5s ease;
  }
  .btn:hover:before {
      left: -10%;
      transition: .3s ease;
  }
  .btn:hover:after {
      left: -20%;
  }


.total {
  margin-top:25px;
  font-size:20px;
  font-size:1.3rem;
  position:absolute;
  bottom:30px;
  right:27px;
  left:35px;
}
.dense {
  line-height:1.2em;
  font-size:16px;
  font-size:1rem;
}
.input-field {
  background:rgba(255,255,255,0.1);
  margin-bottom:10px;
  margin-top:3px;
  line-height:1.5em;
  font-size:20px;
  font-size:1.3rem;
  border:none;
  padding:5px 10px 5px 10px;
  color:#fff;
  box-sizing:border-box;
  width:100%;
  margin-left:auto;
  margin-right:auto;
}
.credit-info {
  background:#6bb14b;
  height:100%;
  width:50%;
  color:#eee;
  -webkit-box-pack:center;
  -webkit-justify-content:center;
      -ms-flex-pack:center;
          justify-content:center;
  font-size:14px;
  font-size:.9rem;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  box-sizing:border-box;
  padding-left:25px;
  padding-right:25px;
  border-top-right-radius:30px;
  border-bottom-right-radius:30px;
  position:relative;
}
.dropdown-btn {
  background:rgba(255,255,255,0.1);
  width:100%;
  border-radius:5px;
  text-align:center;
  line-height:1.5em;
  cursor:pointer;
  position:relative;
  -webkit-transition:background .2s ease;
          transition:background .2s ease;
}
.dropdown-btn:after {
  content: '\25BE';
  right:8px;
  position:absolute;
}
.dropdown-btn:hover {
  background:rgba(255,255,255,0.2);
  -webkit-transition:background .2s ease;
          transition:background .2s ease;
}
.dropdown-select {
  display:none;
}
.credit-card-image {
  display:block;
  max-height:80px;
  margin-left:auto;
  margin-right:auto;
  margin-top:35px;
  margin-bottom:15px;
}
.credit-info-content {
  margin-top:25px;
  -webkit-flex-flow:column;
      -ms-flex-flow:column;
          flex-flow:column;
  display:-webkit-box;
  display:-webkit-flex;
  display:-ms-flexbox;
  display:flex;
  width:100%;
}
@media (max-width: 990px) {
  .header {
    display: none;
  }
}
@media (max-width: 600px) {

  .header {
    display: none;
  }
  .window {
    width: 100%;
    height: 100%;
    display:block;
    border-radius:0px;
  }
  .order-info {
    width:100%;
    height:auto;
    padding-bottom:100px;
    border-radius:0px;
  }
  .credit-info {
    width:100%;
    height:auto;
    padding-bottom:100px;
    border-radius:0px;
  }
  .pay-btn {
    border-radius:0px;
  }
}

/* Preloder */

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #000000d8;
    }
    
    .loader {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    border-radius: 60px;
    animation: loader 0.5s linear infinite;
    -webkit-animation: loader 0.5s linear infinite;
    }
    
    @keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      border: 4px solid #c60000;
      border-left-color: transparent;
    }
    50% {
      -webkit-transform: rotate(180deg);
      transform: rotate(180deg);
      border: 4px solid #191dfd;
      border-left-color: transparent;
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
      border: 4px solid #f44336;
      border-left-color: transparent;
    }
    }
    
    @-webkit-keyframes loader {
    0% {
      -webkit-transform: rotate(0deg);
      border: 4px solid #c60000;
      border-left-color: transparent;
    }
    50% {
      -webkit-transform: rotate(180deg);
      border: 4px solid #191dfd;
      border-left-color: transparent;
    }
    100% {
      -webkit-transform: rotate(360deg);
      border: 4px solid #f44336;
      border-left-color: transparent;
    }
    }
    .elements-section {
        padding-top: 100px;
    }
    
    .el-title {
        margin-bottom: 75px;
    }
    
    .element {
        margin-bottom: 100px;
    }
    
    .element:last-child {
        margin-bottom: 0;
    }
    
    .landcontainer img {
        width: 100%;
        height: 100%;
        position: relative;
    }

    /* Header */
.header {
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
  }
  
  .header.fixed {
    padding: 10px 0;
    background-color: #de3a3a;
    box-shadow: 0 3px 10px #ffffff33;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
  }
  
  .header.active {
    background-color: #de3a3a;
  }
  
  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
  }
  
  .header__logo a {
    text-decoration: none;
    
    color: #ffffff;
  }
  
  /* Nav */
  .nav {
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: #ffffff;
    text-decoration: none;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    transition: color .1s linear;
  }
  
  .nav__link:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
  
    background-color: #aa0000;
    opacity: 0;
  
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
  
    transition: opacity .1s linear;
  }
  
  .nav__link:hover {
    color: #aa0000;
  }
  
  .nav__link:hover:after,
  .nav__link.active:after {
    opacity: 1;
  }
  
  .nav__link.active {
    color: #aa0000;
  }

  /* Container */
.container-h {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
  }